<div id="aboutView">
    <h6>About CoralWatch</h6>
	<p>
		CoralWatch integrates global monitoring of coral bleaching with education about coral reef conservation. 
		We are based at The University of Queensland, in Brisbane, Australia. 
		In 2002, CoralWatch developed and validated the Coral Health Chart (Siebeck et al. Monitoring coral bleaching using a colour reference card. Coral Reefs 2006;25:453-460). 
		The chart standardises changes in coral colour, providing a simple way to quantify bleaching and monitor coral health. 
		The Coral Health Chart is used by dive centres, scientists, school groups, and tourists. 
		Anyone can contribute to our global database! You don’t need extensive training – just download a Do it Yourself Kit, request a Coral Health Chart, and you are ready to go! Get involved, follow CoralWatch!
	</p>
	
	<h6>CoralWatch global database</h6>
	<p>
		Our website allows you to view all data recorded for a particular reef. 
		The worldmaps shows all our monitoring sites worldwide, currently 895 reefs
		<strong>www.coralwatch.org</strong>
	</p>
</div>