<div id="tutorialView">
    <h2>How to use the Coral Health Chart</h2>
	
	<ol>
		<li>Select a coral colony</li>
		<li>Compare the colour on the chart with the colour of the coral colony. For each colony, record the darkest and lightest colour.</li>
		<li>For each colony, record coral type</li>
		<li>Repeat for 20 corals and record your findings on a datasheet or waterproof data slate.</li>
		<li>Enter your data (+link)</li>
	<ol>
	
	<h6>MONITORING METHODS</h6>
	<p>The chart can be used while snorkeling, diving or reefwalking (walking around corals).</p>
	<h6>MONITORING TIPS</h6>
	<p>Don't measure the tips of corals, these are the growing points and are naturally lighter.</p>
	<p>Do not measure blue/purple corals or fire corals as these do not vary during bleaching events</p>
</div>